In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
plt.rcParams['figure.figsize'] = (20, 15)

cryptocurrency='../data/raw/cryptocurrency/'
iris='../data/raw/iris/'
measures='../data/raw/measures/'

# Bitcoin csvs analysis

In order to start the analysis over the cryptocurrency dataset, we will start by the bitcoin currency.

First of all we will load the 3 bitcoin datasets

In [5]:
dfp = pd.read_csv(cryptocurrency+'bitcoin_price.csv', index_col='Date')
dfcp = pd.read_csv(cryptocurrency+'bitcoin_cash_price.csv', index_col='Date')
dfd = pd.read_csv(cryptocurrency+'bitcoin_dataset.csv', index_col='Date')

Lets visualize the bitcoin price data

In [6]:
dfp.head()

                 Open     High      Low    Close      Volume   Market Cap
Date
Sep 05, 2017  4228.29  4427.84  3998.11  4376.53  2697970000  69954400000
Sep 04, 2017  4591.63  4591.63  4108.40  4236.31  2987330000  75955500000
Sep 03, 2017  4585.27  4714.08  4417.59  4582.96  1933190000  75841700000
Sep 02, 2017  4901.42  4975.04  4469.24  4578.77  2722140000  81060600000
Sep 01, 2017  4701.76  4892.01  4678.53  4892.01  2599080000  77748400000

In [8]:
dfp.describe()

              Open         High          Low        Close    Market Cap
count  1592.000000  1592.000000  1592.000000  1592.000000  1.592000e+03
mean    658.283649   676.271727   641.050616   660.837795  9.964862e+09
std     723.653014   749.473657   699.635365   729.447612  1.209521e+10
min      68.500000    74.560000    65.530000    68.430000  7.792550e+08
25%     258.350000   263.930000   253.177500   258.592500  3.648115e+09
50%     444.885000   450.605000   437.180000   444.705000  6.449795e+09
75%     680.187500   703.960000   660.775000   682.142500  1.021785e+10
max    4901.420000  4975.040000  4678.530000  4892.010000  8.106060e+10

In [9]:
dfp.index

Index(['Sep 05, 2017', 'Sep 04, 2017', 'Sep 03, 2017', 'Sep 02, 2017',
       'Sep 01, 2017', 'Aug 31, 2017', 'Aug 30, 2017', 'Aug 29, 2017',
       'Aug 28, 2017', 'Aug 27, 2017',
       ...
       'May 07, 2013', 'May 06, 2013', 'May 05, 2013', 'May 04, 2013',
       'May 03, 2013', 'May 02, 2013', 'May 01, 2013', 'Apr 30, 2013',
       'Apr 29, 2013', 'Apr 28, 2013'],
      dtype='object', name='Date', length=1592)

In [11]:
dfp.index = pd.to_datetime(dfp.index)

In [15]:
dfp.sort_index(ascending=True, inplace=True)

In [18]:
dfp.head()

              Open    High     Low   Close Volume  Market Cap
Date
2013-04-28  135.30  135.98  132.10  134.21      -  1500520000
2013-04-29  134.44  147.49  134.00  144.54      -  1491160000
2013-04-30  144.00  146.93  134.05  139.00      -  1597780000
2013-05-01  139.00  139.89  107.72  116.99      -  1542820000
2013-05-02  116.38  125.60   92.28  105.21      -  1292190000

Here we can see that volume has values that are not numeric, let's see if this happen in all the columns

In [26]:
df = dfp[dfp.applymap(np.isreal)]

In [29]:
df = df.loc[:, df.columns != 'Volume']

len(df) - df.count()

Open          0
High          0
Low           0
Close         0
Market Cap    0
dtype: int64

We can see that only Volume had non number values